.todo__item {
  padding: var(--space-2) var(--space-3);
  margin-bottom: var(--space-4);
  background-color: white;
  border: 1px solid rgba(var(--black-color-rgb), 0.3);
  border-radius: var(--space-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__item p {
  width: 100%;
}

.todo__item:last-child {
  margin-bottom: 0;
}

.todo__item.checked .todo__item__check::before {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 100%;
  width: var(--space-2);
  height: var(--space-2);
  background-color: rgba(var(--primary-color-rgb), 0.5);
  content: "";
}

.todo__item.checked p {
  text-decoration: line-through;
  color: rgba(var(--black-color-rgb), 0.5);
}

.todo__item__check {
  width: var(--space-4);
  height: var(--space-4);
  border: 1px solid rgba(var(--black-color-rgb), 0.5);
  border-radius: 100%;
  margin-right: var(--space-2);
  flex-shrink: 0;
  background-color: white;
  position: relative;
}

.close-button {
  border-radius: 100%;
  background-color: var(--primary-color);
  padding: var(--space-1) var(--space-2);
  color: white;
  border: none;
  flex-shrink: 0;
  margin-left: var(--space-1);
}
