.todo__search {
  width: 100%;
  color: rgba(var(--black-color-rgb), 0.7);
  outline: none;
  border: 2px solid rgba(var(--primary-color-rgb), 0.5);
  padding: var(--space-3);
  line-height: 1;
  font-size: var(--text-6);
  border-radius: var(--space-1);
  margin-bottom: var(--space-5);
}

.todo__search::placeholder {
  color: rgba(var(--gray-color-rgb), 0.7);
}
